@font-face
{
    font-family: Pokemon Solid;
    src: url("../html/Pokemon_Solid.ttf");
    font-weight: normal;
}

body
{
    /* Image de fond */
    background-image: url("../images/pokemon-background.jpg");

    /* Hauteur de l'image */
    height: 100%;

    /* Positionnement de l'image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Pokemon Solid;
    font-size: 3em;
}

img
{
    height: 400px;
    width: 601px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  height: 100px;
  width: 200px;
  padding-bottom: 3em;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h3
{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password]      else {
    // code...
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #0000CD;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #FFFF00;
    border: 1px solid #FFFF00;
}
